.membercard-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.membercard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.membercardDelete-but{
  border: none;
  background-color: rgb(236, 65, 65);
  color: white;
  border-radius: 5px;
}

.membercardDelete-but:hover{
  background-color: rgb(179, 40, 40);
}

.membercard-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.membercard-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.membercardCancel-but{
  border: none;
  background-color: rgb(173, 170, 170);
  color: white;
  border-radius: 5px;
}

.membercardCancel-but:hover{
  background-color: rgb(111, 111, 111);
}